**/firestore-debug.log
**/firestore-debug.log

# Compiled JavaScript files
functions/lib/**/*.js
functions/lib/**/*.js.map

# TypeScript v1 declaration files
functions/typings/

# Node.js dependency directory
functions/node_modules/

**/.env
**/firebase_config.json
**/service_account.json
**/ui-debug.log

# Groupeng code
groupeng/src/__pycache__

# Virtualenv
**/venv

# VSCode config
.vscode