/ui-debug.log
/firestore-debug.log
functions/firestore-debug.log

# Compiled JavaScript files
functions/lib/**/*.js
functions/lib/**/*.js.map

# TypeScript v1 declaration files
functions/typings/

# Node.js dependency directory
functions/node_modules/

functions/.env
functions/firebase_config.json
functions/service_account.json

# Groupeng code
groupeng/src/__pycache__